
body {
  font-family: 'Open Sans', sans-serif;
}

/* barra di navigazione */

.bar_fixed {
  position: relative;

}
.header-top {
  line-height: 70px;
  height: 100px;

}
.logo {
  width: 100px;
}


.logo img {
  width: 100%;
}

.nav__bars {
  text-align: right;
}

.first__nav {
 display: inline-block;

}
.first__nav li {
  padding: 0 20px;
}
.first__nav li a {
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.secondary__nav {
  display: inline-block;
  text-align: right;
}

.lang {
  border: none;
  border-left: 1px solid #9B9B9B;
  border-right: 1px solid #9B9B9B;
  background-color: transparent;
  padding: 0 10px;
  line-height: 12px;
  font-size: 10px;
}

.login  {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  line-height: normal;
}

.mobile_menu {
  display: inline-block;
  line-height: normal;
  border: none;
  font-size: 30px;
  background-color: transparent;
}

/* hero */
.hero {
  max-width: 1170px;
  margin: auto;
  text-align: center;
}

.hero h1 {
  font-size: 110px;
  font-weight: 600
}
.hero img {
  width: 100%;
}

/* /hero */

/* sezione banner */

.banner{
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: -300px;

}


.container__small {
  max-width: 800px;
  margin: auto;
  font-size: 0;

}

.box_margin {
  position: relative;
  top: 200px;
}
.box {
  display: inline-block;
  width: calc(100% / 3);
  position: relative;s
}


.box-1 {
  right: calc(100% / 3);
}



.box-2 {
  height: 500px;
  left: calc(100% / 3);
  
}

.box-2 img {
  max-width: 100%;
}
.box-3 {
  background-color: yellow;
}

/* /sezione banner */


@media screen and (max-width: 768px)  {
  .hero h1 {
    font-size: 60px;
  }

  .box {
    width: 100%;
  }
  .box-1 {
    right: auto;
  }
  .box-2 {
    left: auto;
  }
}
